# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build files
dist
build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage
__tests__
*.test.js
*.spec.js

# Logs
logs
*.log

# Docker
Dockerfile
.dockerignore 